/*主页导航条*/
* {
  margin: 0;
  padding: 0;
}
input {
  outline: none;
}
button {
  outline: none;
}
.main {
  width: auto;
}
.top_div .logo_box {
  width: 1280px;
  height: 132px;
  margin: auto;
  position: relative;
}
.top_div .logo_box .logo {
  width: 260px;
  height: 123px;
  position: absolute;
  left: 510px;
  top: 0px;
  background: url(../img/logo.png) no-repeat center center;
  background-size: auto;
  background-size: 100%;
  display: block;
}
.top_div .logo_box .left {
  float: left;
  margin-top: 20px;
  margin-left: 112px;
}
.top_div .logo_box .flex {
  display: flex;
}
.top_div .logo_box .left .self {
  width: 25px;
  height: 25px;
  background: url(../images/self.png) no-repeat center center;
  background-size: 100% 100%;
  margin-right: 20px;
  cursor: pointer;
}
.top_div .logo_box .left .register {
  width: 25px;
  height: 25px;
  background: url(../images/resg.png) no-repeat center center;
  background-size: 100% 100%;
  cursor: pointer;
}
.top_div .logo_box .left .quit {
  width: 25px;
  height: 25px;
  background: url(../images/quit.png) no-repeat center center;
  background-size: 100% 100%;
  cursor: pointer;
}
.top_div .logo_box .right {
  float: right;
  margin-top: 20px;
  display: flex;
}

.top_div .logo_box .right .indexlike button {
  background: url('../images/like.png') no-repeat center center;
  width: 27px;
  height: 27px;
  border: none;
  margin-right: 30px;
  cursor: pointer;
}
.top_div .logo_box .right .order button {
  background: url('../images/order.png') no-repeat center center;
  width: 27px;
  height: 27px;
  border: none;
  margin-right: 30px;
  cursor: pointer;
}
.top_div .logo_box .right .car button {
  background: url('../images/car.png') no-repeat center center;
  width: 27px;
  height: 27px;
  border: none;
  margin-right: 30px;
  cursor: pointer;
}

.top_div .logo_box .searchbox {
  width: 216px;
  height: 40px;
  float: right;
  background-color: #f6f6f6;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-top: 70px;
  margin-right: -50px;
}
.top_div .logo_box .searchbox input {
  height: 100%;
  line-height: 40px;
  border: 0px;
  width: 140px;
  color: #666;
  font-size: 14px;
  padding: 0px 15px;
  background-color: transparent;
}
.top_div .logo_box .searchbox .searchbtn {
  width: 46px;
  height: 40px;
  background: url(../img/serach.png) no-repeat center center;
  background-size: 30px;
  position: absolute;
  border: none;
  cursor: pointer;
}
.top_div .nav_box_all {
  width: 100%;
  position: relative;
  border-top: 1px solid #f0f0f0;
}
.top_div .is_fixed {
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.top_div .nav_box {
  width: 1200px;
  height: 60px;
  margin: auto;
}

.top_div .nav_box .box.on {
  border-bottom: 2px solid #ff9678;
  color: #f9b373;
}
.top_div .nav_box .box {
  height: 55px;
  border-bottom: 2px solid #fff;
  padding: 0px 22px;
  display: block;
  color: #656565;
  font-size: 15px;
  float: left;
  margin: 0px 24px;
  line-height: 60px;
  cursor: pointer;
}
a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
/*顶部设计*/
.top{
	height:70px;
	width:100%;
	background-color: #fff2df;
	border-bottom:3px solid #A9A9A9;
	padding-top: 10px;
    padding-bottom: 10px;
}
.logoimg{
	width:140px;
	height:70px;
	margin-left: 360px;
}

.top .right {
  float: right;
  margin-top: 20px;
  display: flex;
  margin-right: 80px;
}

.top .right .indexlike button {
  background: url('../images/like.png') no-repeat center center;
  width: 27px;
  height: 27px;
  border: none;
  margin-right: 30px;
  cursor: pointer;
}
.top .right .order button {
  background: url('../images/order.png') no-repeat center center;
  width: 27px;
  height: 27px;
  border: none;
  margin-right: 30px;
  cursor: pointer;
}
.top .right .car button {
  background: url('../images/car.png') no-repeat center center;
  width: 27px;
  height: 27px;
  border: none;
  margin-right: 30px;
  cursor: pointer;
}
.top .left {
  float: left;
  margin-top: 20px;
  margin-left: 112px;
}
.top .flex {
  display: flex;
}
.top .left .flex .self {
  width: 25px;
  height: 25px;
  background: url(../images/self.png) no-repeat center center;
  background-size: 100% 100%;
  margin-right: 20px;
  cursor: pointer;
}
.top .left .flex .register {
  width: 25px;
  height: 25px;
  background: url(../images/resg.png) no-repeat center center;
  background-size: 100% 100%;
  cursor: pointer;
}
.top .left .flex .quit {
  width: 25px;
  height: 25px;
  background: url(../images/quit.png) no-repeat center center;
  background-size: 100% 100%;
  cursor: pointer;
}

/*产品排列布局（推荐）*/
.goodsdetail .guessyoulike{
	width: 100%;
}
.guessyoulike{
	width: 90%;
	margin: auto;
	border: 1px solid #CCCCCC;
	border-radius: 8px;
	min-height: 300px;
	padding: 10px;
	margin-top: 50px;
}
.guess_goods{
	width: 230px;
	padding-top: 25px;
	padding-left: 20px;
	float: left;
	overflow: hidden;
	position: relative;
	line-height: 1.42857143;
	color:#333;
}
.guessgoods_top img{
	position: relative;
	max-width: 80%;
	margin-bottom: 20px;
}
.goodsname span{
	font-size: 18px;
}
.goodscolor{
	float: left;
	width: auto;
	text-align: left;
}
.goodsinfo .goodsinfo_color{
	font-size: 16px;
	color: #9E9C9C;
}
.goodsinfo_price span{
	font-size: 14px;

	font-weight: bold;
	color:#c30;
}
.no-data {
    height: 250px;
    width: 250px;
    margin: 80px auto;
    padding-bottom: 30px;
}
.no-data img {
    width: 100%;
}
.no-data .txt {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: #515151;
}

/*页脚*/
.footerbg {
    background: #424242;
	font-size: 12px;
	color:#aaaaaa;
    height: 42px;
    line-height: 40px;
    border-top: 1px solid #525252;
}
.footerbg p {
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    color: #aaa;
}

/*每一本书的div*/

div[name='entergoodsdetail']{
	cursor: pointer;
}
.left_right_goods{
	height: 955px;
	background-color: white;
	width: 95%;
	margin: 0 auto;
}
.newgoodsone_left img{
	width: 100%;
	height: 100%;
}
.onehotgoods_top{
	width: 150px;
	height: 150px;
	text-align: center;
	margin: 0 auto;
}
.onehotgoods_top img{
	width: 100%;
	height: 100%;
	
}
