@CHARSET "UTF-8";
.goodsdetail_main{
	width:1100px;
	margin:auto;
}
.curren_type{
	margin-top: 20px;
}
.goodsinfo_left{
	max-height: 680px;
	width: 590px;
	float:left;
}
.goodsinfo_left_img{
	position: relative;
    width: 100%;
    max-height: 680px;
    margin-bottom: 7px;
}
#bigimg{
	display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    height: auto;
}
.goodsinfo_right{
	float: left;
    margin: 1.364em 0 0 2.9em;
    width: 420px;
    padding: .7em 0 0 1.56em;
}
.goodsinfo{
	float: left;
    width: auto;
    text-align: left;
    padding: 0 0 10px;
}
.goodsinfo h1{
	color:#000;
}
.goodsname{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -1px;
    display: block;
}
.goodscolor{
	font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    margin-bottom: .1em;
    display: block;
}
.goodsprice{
	font-weight: bold;
    color: #000;
    font-size: 30px;
    padding-bottom: 6px;
    width: 400px;
    display: block;
}
.goodsdetail{
	line-height: 18px;
    color: #333;
    padding-bottom: 15px;
    font-size: 13px;
    display: block;
}
.goodssize,.goodskucun{
	color: #767676;
    padding: 0 5px 0 15px;
    display: block;
    font-size: 13px;
    margin-bottom: .025em;
    float: left;
}
.goodsinfo_button button {
  display: inline-block;
  border-radius: 12px;
  background-color: #83af9b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
  vertical-align:middle;
}

.goodsinfo_button button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.addLike span:after {
  content: '✩';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.addCar span:after {
  content: '🛒';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buyright span:after {
  content: '☑';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.goodsinfo_button button:hover span {
  padding-right: 35px;
}

.goodsinfo_button button:hover span:after {
  opacity: 1;
  right: 0;
}
.goodsinfo_button{
	width: 420px;
    height: 190px;
    position: relative;
}
.likeandcar{
	width: 420px;
    height: 46px;
    margin-bottom: 5px;
    z-index: 0;
    display:block;
}
#addcar{
	width:205px;
	height: 46px;
  margin-left:5px;
  line-height: 46px;
}
#addlike{
	width:205px;
	height: 46px;
  line-height: 46px;
}
.buyright button{
	width:420px;
  height: 46px;
  line-height: 46px;
}
.havelook_main{
	border-top: 1px solid #f0f0f0;
	width: 1100px;
  height: 600px;
  padding-top: 30px;
}
.goodsmain_title .span1{
	display:inline-block;
	width:385px;
	height:1px;
	background:#000;
	top:29px;
	margin-right:47px;
}
.goodsmain_title .span2{
	display:inline-block;
	width:385px;
	height:1px;
	background:#000;
	top:29px;
	margin-left:45px;
}



.footerbg {
    background: #424242;
	font-size: 12px;
	color:#aaaaaa;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #525252;
}
.footerbg p {
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    color: #aaa;
}































