
.goodsType_main{
	width:1060px;
	margin: auto;
}
.goods_top h2{
	line-height: 60px;
	height: 60px;
	font-size: 20px;
	letter-spacing: 2px; 
	text-align: center; 
	color:#000; 
	margin-bottom:20px;
}
.goods_top .span1{
	display:inline-block;
	width:430px;
	height:1px;
	background:#000;
	top:29px;
	margin-right:47px;
}
.goods_top .span2{
	display:inline-block;
	width:430px;
	height:1px;
	background:#000;
	top:29px;
	margin-left:45px;
}
.kk{
	border:1px solid #C0C0C0 ;
	border-radius: 8px;
	
}
.goods_top img{
	width:1060px;
	height:500px;
	
}
.goods_one{
	width: 245px;
	padding-top: 25px;
	padding-left: 20px;
	float: left;
	overflow: hidden;
	color:#000;
	position: relative;
}
.goodsone_top img{
	position: relative;
	max-width: 100%;
	margin-bottom: 20px;
}
.goodsname span{
	font-size: 13px;
	font-weight: bold;
}
.goodsinfo .goodsinfo_color{
	font-size: 12px;
}
.goodsinfo_price span{
	font-size: 18px;
	line-height:20px;
	font-weight: bold;
}
.btn{
	padding:15px;
	margin-bottom: 5px;
}
.btn button {
  display: inline-block;
  border-radius: 6px;
  background-color: #83af9b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  
  transition: all 0.5s;
  cursor: pointer;
  vertical-align:middle;
  height: 30px;
}

.btn button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 16px;
}

.cancelLike span:after {
  content: '✩';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.addCar span:after {
  content: '🛒';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn button:hover span {
  padding-right: 35px;
}

.btn button:hover span:after {
  opacity: 1;
  right: 0;
}
.btn{
    position: relative;
    margin: auto;
	width: 90%;
}

.likecontentmain{
	margin: 5%;
	width: 85%;
}
.like_big{
	background:floralwhite;
	margin:auto;
	height: 1000px;
	width: 80%;
}
.title-line {
  width: 980px;
  height: 28px;
  margin: 0 auto;
  margin-bottom: 0px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 28px;
  text-align: center;
}
.title-line .tit {
    height: 56px;
    line-height: 56px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 40px;
    text-align: center;
	background-color: white;
}

