.orderList{
	width: 80%;
	margin: 20px auto;
	background-color: #fff;
	border-radius: 5px;
}
.orderList .orderItem {
	list-style: none;
	background-color: #fff8ed;
	padding: 20px;
	margin: 10px;
}
.orderList .orderItem .title {
	display: flex;
	padding: 0 0 10px;
	border-bottom: 1px solid #e6e6e6;
}
.orderItem .title .orderDate {
	text-align: right;
	flex: 1;
}
.orderItem .title .orderCode {
	text-align: left;
	flex: 1;
}
.orderItem .total {
	text-align: right;
	font-size: 18px;
	color: #8a6d3b;
}
.header {
	display: flex;
	padding: 10px 20px 0;
}
.header .desc {
	flex: 2;
}
.header .price {
	flex: 1;
}
.header .num {
	flex: 1;
}
.orderContent {
	padding: 10px;
}
.orderDetail {
	display: flex;
	align-items: center;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.orderDetail .desc img {
	width: 100px;
	height: 100px;
}
.orderDetail .desc {
	flex: 2;
	display: flex;
	align-items: center;
}
.orderDetail .desc .info {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}
.orderDetail .desc .info span {
	padding: 5px 0;
}
.orderDetail .price {
	flex: 1;
}
.orderDetail .count {
	flex: 1;
}
.orderTotalPrice {
	background-color: #fff8ed;
	width: 80%;
	margin: 20px auto;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}