@CHARSET "UTF-8";

.top{
	height:70px;
	width:100%;
	background-color: #fff2df;
	border-bottom:3px solid #A9A9A9;
	padding-top: 10px;
    padding-bottom: 10px;
}
.logoimg{
	width:140px;
	height:70px;
	margin-left: 560px;
}

.top .right {
  float: right;
  margin-top: 20px;
  display: flex;
}

.top .right .indexlike button {
  background: url('../images/like.png') no-repeat center center;
  width: 27px;
  height: 27px;
  border: none;
  margin-right: 30px;
  cursor: pointer;
}
.top .right .order button {
  background: url('../images/order.png') no-repeat center center;
  width: 27px;
  height: 27px;
  border: none;
  margin-right: 30px;
  cursor: pointer;
}
.top .right .car button {
  background: url('../images/car.png') no-repeat center center;
  width: 27px;
  height: 27px;
  border: none;
  margin-right: 30px;
  cursor: pointer;
}
.settingbig{
	background-color: ghostwhite;
}
.settingmain{
	width:400px;
	margin:auto;
	padding-top: 50px;
	
}
.tabletitle{
	font-size:20px;
}
.tablecontent input{
	margin-bottom: 1em;
	padding: 1.5em 1.5em 1.5em 1.5em;
	outline: none;
	border: none;
	background:#f0f0f0;
	color:#999;
	font-weight: 600;
	font-size: .6em;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.setbtn button{
	padding: 12px 33px;
    background: #fea15d;
	margin: 3% 0 0 29%;
	color:#fff;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 30px;
    font-size: 16px;
}
.setbtn button:hover{
	background-color: 	#FF7F50;
}
.footerbg {
    background: #424242;
	font-size: 12px;
	color:#aaaaaa;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #525252;
    margin-top:150px;

}
.footerbg p {
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    color: #aaa;
}













