.content {
	padding: 50px 0 50px;
	width: 400px;
	margin: 0 auto;
}
.content .item {
	display: flex;
	margin: 15px 0;
	align-items: center;
	justify-content: center;
}
.content .item span {
	min-width: 100px;
	text-align: right;
}
.content .item .name {
	flex: 1;
	text-align: left;
	color: #757575;
	cursor: not-allowed;
}
.operating .el-button {
	margin: 0 20px;
}
.footerbg {
    background: #424242;
	font-size: 12px;
	color:#aaaaaa;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #525252;
    margin-top:260px;
}
.footerbg p {
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    color: #aaa;
}













