<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>产品详情</title>
  <link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
  <link rel="stylesheet" type="text/css" href="css/goodsdetail.css" />
  <!-- <link rel="stylesheet" href="css/index.css" type="text/css"></link> -->
  <link rel="stylesheet" href="css/common.css" type="text/css">
  </link>
  <script type="text/javascript" src="assets/js/axios/axios.min.js"></script>
  <script type="text/javascript" src="assets/js/vue/vue.min.js"></script>
  <script type="text/javascript" src="js/goodsDetail.js"></script>
  <script src="js/sweetalert.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="mixins/index.js"></script>

</head>

<body>
  <div id="app" class="main">
    <div class="top_div" id="top_html">
      <div class="logo_box">
        <img src="img/logo.png" class="logoimg" @click="toHomePage" />
        <div class="left">
          <div class="flex">
            <p class="self" title="个人中心" @click="toSelfPage"></p>
            <p class="quit" title="退出" v-if="isLogin" @click="quit"></p>
            <p class="register" title="注册" v-else @click="toRegister"></p>
          </div>
        </div>
        <div class="right">
          <div class="indexlike" @click="goLike">
            <button type="button" title="收藏夹"></button>
          </div>
          <div class="car" @click="goShopCart">
            <button type="button" title="购物车"></button>
          </div>
          <div class="order" @click="goMyOrder">
            <button type="button" title="我的订单"></button>
          </div>
        </div>
        <div class="searchbox">
          <input type="text" id="txtNavSearch" placeholder="搜你想搜的" autocomplete="off" v-model="searchText"
            @keyup.enter="searchData" />
          <button class="searchbtn" @click="searchData" id="search_btn"></button>
        </div>
      </div>
      <div id="nav" class="nav_box_all" :class="{'is_fixed' : isFixed}">
        <div class="nav_box">
          <div class="box" v-for="(item, index) in nav" :class="{'on': currentIndex === index}"
            @click="current(index, item.categoryId)">
            {{ item.title }}
          </div>
        </div>
      </div>
    </div>
    <div class="goodsdetail_main" v-if="currentIndex === 0">
      <div class="curren_type">
        <span class="current_goods_type">
          <img src="img/dangqian.PNG" /><img src="img/flicon2.png" />
        </span>
        <span class="current_goods_type2" id="categoryName">{{ goodDetail.categoryName }}</span>
      </div>
      <div class="goodsinfo_main">
        <div class="goodsinfo_left">
          <div class="goodsinfo_left_img">
            <img id="bigimg" :src="goodDetail.picInfo" />
          </div>
        </div>

        <div class="goodsinfo_right">
          <div class="goodsinfo">
            <h1>
              <span class="goodsname">{{ goodDetail.goodsName }}</span>
              <span class="goodscolor" id="color">{{ goodDetail.color }}</span>
            </h1>
            <span class="goodsprice" id="price">{{ goodDetail.inPrice }}</span>
            <span class="goodsdetail" id="detail">{{ goodDetail.detail }}</span>
            <span class="goodssize">尺寸：{{ goodDetail.size }}</span>
            <span class="goodskucun" id="quantity">库存：{{ goodDetail.quantity }}</span>
          </div>

          <div class="goodsinfo_button">
            <div class="likeandcar">
              <button @click="addFavorite" class="addLike" mark="0" id="addlike" title="收藏">
                <span>收藏</span>
              </button>
              <button @click="addShoppingCart" class="addCar" mark="1" id="addcar" type="button" title="加入购物车">
                <span>加入购物车</span>
              </button>
            </div>
            <div class="buyright" @click="buyNow">
              <button type="button" title="立即购买" id="buyright"><span>立即购买</span></button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="subCategory" v-if="currentIndex !== 0">
      <div class="goodsType_main">
        <div id="goodstypelist">
          <div class="title-line">
            <span class="tit" style="font-size: 38px;">
              <img src="img/renqi.PNG" /></span>
          </div>
          <div class="goodList">
            <div class="goods_one" v-for="(item, index) in totalList" :key="index" @click="goGoodDetail(item.id)">
              <div class="goodsone_top">
                <span></span>
                <img :src="item.picInfo" />
              </div>
              <div class="goodsone_bot">
                <div class="goodsname">
                  <span>{{ item.goodsName }}</span>
                </div>
                <div class="goodsinfo">
                  <span class="goodsinfo_color">
                    {{ item.color }}
                  </span>
                </div>
                <div class="goodsinfo_price">
                  <span>{{ item.inPrice }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="loadMore" v-if="loadMoreShow" @click="loadMore">加载更多</div>
        </div>
      </div>
    </div>
    <div class="guessyoulike">
      <div class="goodsmain_title">
        <img src="img/tuijian.PNG" />
      </div>
      <div class="guess_goods" v-for="(item, index) in recommendList" :key="index">
        <div class="guessgoods_top">
          <span></span>
          <img :src="item.picInfo" />
        </div>
        <div class="guessgoods_bot">
          <div class="goodsname">
            <span>{{ item.goodsName }}</span>
          </div>
          <div class="goodsinfo1">
            <span class="goodsinfo_color">
              {{ item.color }}
            </span>
          </div>
          <div class="goodsinfo_price">
            <span>{{ item.inPrice }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="clear: both;"></div>
  <!--页脚-->
  <div class="footerbg">
    <P>© DESIGNED BY Yannes & Ann</P>
  </div>
</body>

</html>