<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
    <title>用户登录</title>
  <link rel="stylesheet" href="css/user.css" type="text/css"></link>
  <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="assets/js/axios/axios.min.js"></script>
  <script type="text/javascript" src="assets/js/vue/vue.min.js"></script>
  <script src="js/sweetalert.min.js"></script>
  <script type="text/javascript" src="js/ajaxurl.js"></script>
  <script type="text/javascript" src="js/login.js"></script>
  <script src="js/QS/qs.js"></script>

  </head>
  
  <body>
    <div id="app">
      <div class="logo" @click="ToHomePage">
        <img src="img/logo.png">
      </div>
      <div class="user_left" @click="ToHomePage">
        <img src="img/bg_home1.png">
      </div>
      <div class="Outuser_right">
          <div class="user_right">
              <img src="img/denglu.PNG"/>
              <form>
                  <input
                    id="username"
                    type="text"
                    placeholder="用户名"
                    autocomplete="off"
                    v-model="params.username"
                    ref="username"/>
                  <input
                    id="pwd"
                    type="password"
                    placeholder="密码"
                    v-model="params.pwd"
                    ref="password"/>
                  <a class="to_register" href="register.html">立即注册</a>
                  <div id="login_btn" @click="submit">登&nbsp;&nbsp;录</div>
              </form>
          </div>
      </div>
    </div>
  </body>
</html>
