<!DOCTYPE html>
<html>

<head>
  <title>订单明细</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="css/okbuy.css" type="text/css">
  </link>
  <link rel="stylesheet" href="css/swiper.min.css" type="text/css">
  </link>
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  </link>
  <link rel="stylesheet" href="css/common.css" type="text/css">
  </link>
  <script src="js/QS/qs.js"></script>
  <script type="text/javascript" src="assets/js/axios/axios.min.js"></script>
  <script type="text/javascript" src="js/sweetalert.min.js"></script>
  <script type="text/javascript" src="assets/js/vue/vue.min.js"></script>
  <script type="text/javascript" src="mixins/index.js"></script>
  <script type="text/javascript" src="js/orderbuy.js"></script>

</head>

<body>
  <div id="app" class="main">
    <div class="top">
      <img src="img/logo.png" class="logoimg" @click="toHomePage"/>
      <div class="left">
        <div class="flex">
          <p class="self" title="个人中心" @click="toSelfPage"></p>
          <p class="quit" title="退出" v-if="isLogin" @click="quit"></p>
          <p class="register" title="注册" v-else @click="toRegister"></p>
        </div>
      </div>
      <div class="right">
        <div class="indexlike" @click="goLike">
          <button type="button" title="收藏夹"></button>
        </div>
        <div class="car" @click="goShopCart">
          <button type="button" title="购物车"></button>
        </div>
        <div class="order" @click="goMyOrder">
          <button type="button" title="我的订单"></button>
        </div>
      </div>
    </div>
    <!-- 主要内容 -->
    <div class="jiange"></div>
    <div class="goodsdetail">
      <div class="mingxititle">
        <img src="img/mingxi.PNG" />
      </div>
      <div class="mingxidetail">
        <div class="onemingxi" v-for="(item, index) in buyList" :key="index">
          <div class="goodsnum">
            <span>{{ index+1 }}</span>
          </div>
          <div class="newgoods_one" name="entergoodsdetail">
            <div class="newgoodsone_left"><img :src="item.picInfo"></div>
            <div class="newgoodsone_right"><span class="goodsname">{{ item.goodsName }}</span>
              <span class="goodsprice">合计: ¥{{ item.inPrice }}</span>
              <span>数量: {{ item.num }}</span></div>
          </div>
        </div>
      </div>
      </div>

      <div style="clear: both;"></div>
        <div class="mingxibottom_btn" @click="submit">
          提交
        </div>
    </div>
  </div>

  <div style="clear: both;"></div>
  <!--页脚-->
  <div class="footerbg" >
    <P>© DESIGNED BY Yannes & Ann</P>
  </div>

</body>

</html>