<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
 
    <link rel="stylesheet" type="text/css" href="css/register.css" />
    <script src="js/address/jquery-1.11.3.min.js"></script>
	<script src="js/sweetalert.min.js" type="text/javascript" charset="utf-8"></script>
  	<script src="js/QS/qs.js"></script>
  	<script type="text/javascript" src="assets/js/axios/axios.min.js"></script>
  	<script type="text/javascript" src="assets/js/vue/vue.min.js"></script>
  	<script type="text/javascript" src="js/register.js"></script>

</head>

<body>

  <div id="app" class="main">
    <div class="logo" @click="goHomePage">
      <img src="img/logo.png">
    </div>
    <div class="title-line">
      <span class="tit" style="font-size: 38px;"><img src="img/zhuce.PNG"/></span>
    </div>
    <div class="register_main" id="app1">
      <div class="register_info">
        <form>
          <div class="input_short">
            <input v-model="username" type="text" placeholder="用户名" />
            <input v-model="telephone" type="text" id="phone" maxlength="11" oninput = "value=value.replace(/[^\d]/g,'')" placeholder="手机号码(必须为数字)" />
          </div>
          <div class="input_long">
            <input v-model="address" id="city" autocomplete="off" type="text" placeholder="请输入收货地址" />
            <input v-model="password" type="password" placeholder="密码（不能少于6位且由数字字母组成）" />
            <input v-model="checkpass" type="password" placeholder="确认密码" />
          </div>
          <div class="submit" @click="resister">注&nbsp;&nbsp;册</div>
        </form>
        <p>Have an account with us?<a class="to_login" href="login.html">立即登录</a></p>
      </div>
    </div>
  </div>
  <div style="clear: both;"></div>
  <!--页脚-->
  <div class="footerbg">
    <P>© DESIGNED BY Yannes & Ann</P>
  </div>
  
</body>

</html>