<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>个人中心</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link rel="stylesheet" href="js/eleme-ui/index.css" type="text/css" />
  <link rel="stylesheet" href="css/userinfo.css" type="text/css" />
  <link rel="stylesheet" href="css/common.css" type="text/css" />
  <script src="js/QS/qs.js"></script>
  <script type="text/javascript" src="assets/js/axios/axios.min.js"></script>
  <script type="text/javascript" src="assets/js/vue/vue.min.js"></script>
  <script type="text/javascript" src="js/eleme-ui/index.js"></script>
  <script src="js/sweetalert.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="mixins/index.js"></script>
  <script src="js/setting.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>
  <div id="app" class="main">
    <div class="top" style="height:90px;">
      <img src="img/logo.png" class="logoimg" @click="toHomePage" />
      <div class="left">
        <div class="flex">
          <p class="self" title="个人中心" @click="toSelfPage"></p>
          <p class="quit" title="退出" v-if="isLogin" @click="quit"></p>
          <p class="register" title="注册" v-else @click="toRegister"></p>
        </div>
      </div>
      <div class="right">
        <div class="indexlike" @click="goLike">
          <button type="button" title="收藏夹"></button>
        </div>
        <div class="car" @click="goShopCart">
          <button type="button" title="购物车"></button>
        </div>
        <div class="order" @click="goMyOrder">
          <button type="button" title="我的订单"></button>
        </div>
      </div>
    </div>
    <!-- 主要内容 -->
    <div class="content">
      <div class="item username">
        <span>用户名：</span>
        <span class="name">{{ userInfo.userName }}</span>
      </div>
      <div class="item phone">
        <span>电话号码：</span>
        <el-input v-model="userInfo.phone" placeholder="请输入手机号"></el-input>
      </div>
      <div class="item address">
        <span>收货地址：</span>
        <el-input v-model="userInfo.addr" type="textarea" placeholder="请输入收货地址"></el-input>
      </div>
      <div class="item operating">
        <el-button type="success" @click="update">提交修改</el-button>
        <el-button type="warning" @click="dialogShow = true">修改密码</el-button>
      </div>
      <el-dialog title="修改密码" :visible.sync="dialogShow" width="30%">
        <el-form :model="password">
          <el-form-item label="原密码" :label-width="labelWidth">
            <el-input v-model="password.oldPass" :value="password.oldPass" show-password></el-input>
          </el-form-item>
          <el-form-item label="新密码" :label-width="labelWidth">
            <el-input v-model="password.newPass" :value="password.newPass" show-password></el-input>
          </el-form-item>
          <el-form-item label="重复密码" :label-width="labelWidth">
            <el-input v-model="password.repeatPass":value="password.repeatPass" show-password></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogShow = false">取 消</el-button>
          <el-button type="primary" @click="resetPassword">提 交</el-button>
        </span>
      </el-dialog>
    </div>
    <!--页脚-->
    <div class="footerbg">
      <P>© DESIGNED BY Yannes & Ann</P>
    </div>
  </div>

</body>

</html>