<!DOCTYPE html>
<html>

<head>
  <title>购物车</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="css/shoppingCar.css" />
  <link rel="stylesheet" href="css/ShoppingCart.css" />
  <link rel="stylesheet" href="css/common.css" type="text/css">
  </link>
  </link>
  <link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
  <link rel="stylesheet" href="js/eleme-ui/index.css" type="text/css">
  </link>
  <link rel="stylesheet" href="css/layui/css/layui.css" type="text/css">
  </link>
  <script src="js/QS/qs.js"></script>
  <script type="text/javascript" src="assets/js/axios/axios.min.js"></script>
  <script type="text/javascript" src="js/sweetalert.min.js"></script>
  <script type="text/javascript" src="assets/js/vue/vue.min.js"></script>
  <script type="text/javascript" src="js/eleme-ui/index.js"></script>
  <script type="text/javascript" src="mixins/index.js"></script>
  <script type="text/javascript" src="js/shoppingcart.js"></script>
</head>

<body>
  <div id="app" class="main">
    <div class="top" style="height: 90px;">
      <img src="img/logo.png" class="logoimg" @click="toHomePage"/>
      <div class="left">
        <div class="flex">
          <p class="self" title="个人中心" @click="toSelfPage"></p>
          <p class="quit" title="退出" v-if="isLogin" @click="quit"></p>
          <p class="register" title="注册" v-else @click="toRegister"></p>
        </div>
      </div>
      <div class="right">
        <div class="indexlike" @click="goLike">
          <button type="button" title="收藏夹"></button>
        </div>
        <div class="car" @click="goShopCart">
          <button type="button" title="购物车"></button>
        </div>
        <div class="order" @click="goMyOrder">
          <button type="button" title="我的订单"></button>
        </div>
      </div>
    </div>
    <!--主要内容-->
    <div class="goodsdetail">
      <div class="title">
        <img src="img/gouwuche.PNG" style="margin-left: 100px;" />
      </div>
      <div class="row " id="myVue" v-cloak>
        <div class="carmain">
          <div class="layui-form">
            <table class="ShopCartTable layui-table">
              <thead>
                <tr>
                  <th class="selectLeft">
                    <template>
                      <el-checkbox v-model="checkedAll" @change="checkAll">全选</el-checkbox>
                    </template>
                    <span class="selectLeftGoods">商品信息</span>
                  </th>
                  <th>单价</th>
                  <th>数量</th>
                  <th>小计</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,index) in shopCartList">
                  <td class="selectLeft">
                    <template>
                      <el-checkbox @change="check(item)" v-model="item.checked"></el-checkbox>
                    </template>
                    <span class="goodName goodpic">
                      <img class="goodImg" :src="item.picInfo" />
                    </span>
                    <span name="lookgooddetail" style="display: none;" v-text="item.goodsid"></span>
                    <span class="goodName goodsName">
                      <h2 class="goodname" v-text="item.goodsName"></h2>
                      <p class="goodGary">
                        <span v-text="item.color"></span>
                      </p>
                    </span>
                  </td>
                  <td class="danPrice">￥{{item.inPrice}}</td>
                  <td>
                    <i @click="sub(index)" class="fa  deleteBtn" aria-hidden="true">-</i>
                    <input v-model="item.num" type="text" class="numInput" aria-label="...">
                    <i @click="add(index)" class="fa  addBtn" aria-hidden="true">+</i>
                  </td>
                  <td>
                    <p class="totalPrice">￥{{item.inPrice*item.num | formatPrice}}</p>
                  </td>
                  <td class="gongneng">
                    <p class="deletegoods" @click="deleteGood(item.id)">删除</p>
                    <p class="likeGoods" @click="likeGood(item)">移到我的收藏</p>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="tablefooter">
              <template>
                <el-checkbox style="padding-left:16px" @change="checkAll(checkedAll)" v-model="checkedAll">全选
                </el-checkbox>
              </template>
              <span class="removeMuch" @click="deleteGood(checkedIdList)">删除选中的商品</span>
              <span class="totalclassPoin">总价：
                <span class="totalMoneyClass">￥{{ totalPrice | formatPrice}}</span>
              </span>
              <span @click="settlement" class="SettlementBtn">去结算</span>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div style="clear: both;"></div>
  <!--页脚-->
  <div class="footerbg">
    <P>© DESIGNED BY Yannes & Ann</P>
  </div>
</body>

</html>