<!DOCTYPE html>
<html>
  <head>
    <title>宅家家居</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/index.css" type="text/css" />
    <link rel="stylesheet" href="css/swiper.min.css" type="text/css" />
    <script type="text/javascript" src="assets/js/axios/axios.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="assets/js/vue/vue.min.js"></script>
    <script type="text/javascript" src="js/sweetalert.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/ajaxurl.js"></script>
  </head>
  <body>
    <div id="app" class="main">
      <div class="top_div" id="top_html">
        <div class="logo_box">
          <a class="logo" href="/"></a>
          <div class="left">
            <div class="flex">
              <p class="self" title="个人中心" @click="toSelfPage"></p>
              <p class="quit" title="退出" v-if="isLogin" @click="quit"></p>
              <p class="register" title="注册" v-else @click="toRegister"></p>
            </div>
          </div>
          <div class="right">
            <div class="indexlike">
              <button type="button" title="收藏夹"></button>
            </div>
            <div class="car">
              <button type="button" title="购物车"></button>
            </div>
            <div class="order">
              <button type="button" title="我的订单"></button>
            </div>
          </div>
          <div class="searchbox">
            <input
              type="text"
              id="txtNavSearch"
              placeholder="搜你想搜的"
              autocomplete="off"
              v-model="searchText"
              @keyup.enter="searchData"
            />
            <button
              class="searchbtn"
              @click="searchData"
              id="search_btn"
            ></button>
          </div>
        </div>
        <div id="nav" class="nav_box_all" :class="{'is_fixed' : isFixed}">
          <div class="nav_box">
            <div
              class="box"
              v-for="(item, index) in nav"
              :class="{'on': currentIndex === index}"
              @click="current(index)"
            >
              {{ item.title }}
            </div>
          </div>
        </div>
      </div>
      <div class="total" v-if="currentIndex === 0">
        <div class="homemain_middle_top bgco">
          <div class="swiper-container" id="swiper-container-id1">
            <div class="swiper-wrapper">
              <div class="swiper-slide bigwrapper">
                <img src="img/gd1.png" />
              </div>
              <div class="swiper-slide bigwrapper">
                <img src="img/gd2.jpg" />
              </div>
              <div class="swiper-slide bigwrapper">
                <img src="img/gd3.jpg" />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="clear1"></div>
        <div class="under-swiper">
          <div><img src="img/anxin.png" alt="" /></div>
          <div class="clearing"><img src="images/sy-qj.jpg" /></div>

          <div class="qj_cp">
            <p
              class="good"
              v-for="(item, index) in clearGoods"
              @click="goGoodDetail(item.id)"
            ></p>
          </div>

          <div class="sn">
            <p
              v-for="(item, index) in admissionGoods"
              @click="goGoodDetail(item.id)"
              :class="`sn_a${index+1}`"
            ></p>
          </div>

          <div class="xx">
            <p
              v-for="(item, index) in leisureGoods"
              @click="goGoodDetail(item.id)"
              :class="`xx_a${index+1}`"
            ></p>
          </div>

          <div class="gz">
            <p
              v-for="(item, index) in workGoods"
              @click="goGoodDetail(item.id)"
              :class="`gz_a${index+1}`"
            ></p>
          </div>

          <div class="qj_hot">
            <span class="title"></span>
            <p
              class="category"
              v-for="(item, index) in hotCategorys"
              @click="goCategoryDetail(item.id)"
            ></p>
          </div>
        </div>
      </div>
      <div class="subCategory" v-if="currentIndex !== 0">
        {{ currentCategory.title }}
      </div>
      <div class="bottom">
        <div class="footer">
          <div class="contact">
            <div class="text">关注宅家</div>
            <div>
              <a href="#" target="blank">
                <span class="weibo lg-color"><img src="images/weibo.png"/></span
              ></a>
            </div>
            <div class="xcx">
              <span class="xcx lg-color"
                ><img src="images/xiaochengxu.png"
              /></span>
            </div>
            <div class="ggh">
              <span class="wechat lg-color"
                ><img src="images/wechat.png"
              /></span>
            </div>
          </div>
          <div class="supplier">
            <div>关于宅家</div>
            <div>
              <a href="#" target="blank">宅家理念</a>
              <div style="cursor: pointer;" class="sheji">
                <span>宅家设计</span>
              </div>
              <br />
              <a href="#" target="blank">加入宅家</a><br />
            </div>
          </div>
          <div class="content">
            <div>宅家企业站</div>
            <div>
              投诉电话：4008-308-208（按3转入投诉建议）
              <br />
              投诉邮箱：service@stayhome.com
            </div>
          </div>
        </div>

        <div class="footerbg">
          <p>© DESIGNED BY Yannes & Ann</p>
        </div>
      </div>
    </div>
  </body>
</html>
