<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script type="text/javascript" src="js/vue/vue.min.js"></script>
	<link rel="stylesheet" href="">
</head>

<body>
	<div id="test" v-if="bookList.length > 0">
		<div class="bookstr" v-for="(item, index) in bookList" :key="index">
			<span class="id"> {{ item.id }} </span>
		</div>
	</div>
</body>
<script>
	window.onload
	let vm = new Vue({
		el: '#test',
		data() {
			return {
				bookList: [],
				a: {}
			}
		},
		methods: {
			onclick() { },
			check() { },
			fetchdata() {
				
			}
		},
		created() {
			this.fetchdata()
		},
		mouted() { }

	})
</script>

</html>